*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: var(--font-family-1);
  font-weight: 500;
}

:root {
  /* colors */
  --white: #fefeff;
  --black-1A: #1a1a1a;
  --color-btn: #ffedd2;

  --pink-1: #fa3967;
  --pink-2: #fb6185;
  --pink-3: #fc88a4;
  --pink-4: #fed7e1;
  --orange-1: #fa9639;
  --orange-2: #fbab61;
  --orange-3: #fcc088;
  --orange-4: #feead7;

  --orange-D1: #e18733;

  /* linear gradients */
  --gradient-bg: linear-gradient(
    119.02deg,
    #e7dcff -0.35%,
    rgba(255, 234, 203, 0.869792) 57.14%,
    #f6f1ff 100%
  );
  --gradient-btn-1: linear-gradient(90.41deg, #fa3967 0.35%, #fa9639 98.37%);

  /* fonts */
  --font-size-09: 0.9rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;

  --font-family-1: 'IBM Plex Sans', sans-serif;

  /* borders */
  --border-radius-1: 2rem;
  --border-radius-2: 2.5rem;

  /* shadows */
  --shadow-1: 0px 43px 50px -25px rgba(34, 0, 111, 0.17);

  /* transitions */
  --transition-1: all 0.3s ease-in-out;
}

body {
  background: var(--gradient-bg);
}

.section-center {
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 85vh;
  width: 90vw;
  padding: 1rem;
  font-size: var(--font-size-1);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#col-1 {
  width: 30%;
  row-gap: 2rem;
}

#col-2 {
  width: 65%;
  row-gap: 2rem;
}

.head {
  width: 100%;
  background-color: var(--orange-4);
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
  padding: 0.5rem 1.5rem;
  font-size: var(--font-size-2);
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  overflow: auto;
}

.result-holder {
  white-space: pre;
  color: var(--black-1A);
}

.info {
  padding: 0.5rem 1rem;
  border: 1px solid var(--pink-2);
  border-radius: var(--border-radius-1);
  align-self: flex-start;
}

.recipients {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius-1);
  box-shadow: var(--shadow-1);
}

.recipient {
  color: var(--orange-1);
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border: 1px solid var(--orange-2);
  border-radius: var(--border-radius-1);
}

.result {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius-1);
  box-shadow: var(--shadow-1);
}

.btn-group {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.btn {
  background: var(--gradient-btn-1);
  transition: var(--transition-1);
  font-size: var(--font-size-1);
  border: none;
  border-radius: var(--border-radius-1);
  padding: 1rem 4rem;
  cursor: pointer;
  opacity: 0.92;
}

.btn:hover {
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .btn {
    font-size: var(--font-size-09);
    padding: 0.8rem 3.2rem;
  }
}

@media screen and (max-width: 370px) {
  .btn {
    font-size: var(--font-size-09);
    padding: 0.8rem 2.4rem;
  }
}
